---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from "../components/Footer.astro";
---

<Layout title="Atelier Rafael Monteiro">
    <main>
        <Nav />
        <Footer />
    </main>
</Layout>
