---
import Layout from '../layouts/PageLayout.astro';
import Nav from '../components/Nav.astro';
import Footer from "../components/Footer.astro";
import { fetchDesignGallery } from '../utils/fetchDesignGallery.js';
import DesignGallery from "../components/DesignGallery.astro";
const designItems = await fetchDesignGallery();
---

<Layout title="Rafael Monteiro - Design">
    <main>
        <Nav />
        <!-- Design Gallery -->
        <section class="gallery bg-white py-24">
            <div class="container mx-auto px-8">
                <!-- Grid for Design Gallery -->
                <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
                    {designItems.map(item => (
                            <DesignGallery item={item} />
                    ))}
                </div>
            </div>
        </section>
        <Footer />
    </main>
</Layout>

<script type="text/javascript">

</script>
