---
// Existing imports
import Layout from '../layouts/PageLayout.astro';
import Nav from '../components/Nav.astro';
import Footer from "../components/Footer.astro";
import { fetchDesignGallery } from '../utils/fetchDesignGallery.js';
import DesignGallery from "../components/DesignGallery.astro";
const designGallery = await fetchDesignGallery();
---

<Layout title="Rafael Monteiro - Design">
    <main>
        <Nav />
        <!-- Design Gallery -->
        <section class="bg-white py-32">
            <div class="gallery max-w-8xl mx-16 my-8 px-2 sm:px-4 lg:px-6" id="macy-container">
                {designGallery.map((item) => (
                        <DesignGallery item={item} key={item.id} />
                ))}
            </div>
        </section>
        <Footer />
    </main>
</Layout>

<style>
    /* Initially hide items to prevent FOUC */
    .design-item {
        display: none;
    }
</style>

<script>
    import Macy from 'macy';

    document.addEventListener('DOMContentLoaded', function () {
        const macyInstance = Macy({
            container: '#macy-container',
            columns: 5,
            margin: {
                x: 12,
                y: 24,
            },
            breakAt: {
                1200: 4,
                940: 3,
                520: 2,
                400: 1
            },
            waitForImages: true,
        });

        // Function to show the items
        function showItems() {
            const items = document.querySelectorAll('.design-item');
            items.forEach(item => item.style.display = 'block'); // Change to the desired display style
        }

        // Show items after Macy has done its initial layout
        macyInstance.runOnImageLoad(function () {
            showItems();
        }, true);

        // Fallback for cached images
        window.onload = showItems;
    });
</script>
