---
import Layout from '../layouts/PageLayout.astro';
import Nav from '../components/Nav.astro';
import Footer from "../components/Footer.astro";
import DesignGallery from '../components/DesignGallery.jsx';
import {fetchDesignGallery} from "../utils/fetchDesignGallery";
const designGallery = await fetchDesignGallery();
---

<Layout title="Rafael Monteiro - Design">
    <main>
        <Nav />
        <section class="bg-white py-32">
            <div class="gallery max-w-8xl mx-16 my-8 px-2 sm:px-4 lg:px-6" id="macy-container">
                {designGallery.map((item) => (
                        <div class="group relative overflow-hidden rounded-lg shadow-lg hover:shadow-3xl transition-shadow duration-500 ease-in-out">
                            <DesignGallery client:load item={item} />
                            <div class="absolute inset-0 bg-black bg-opacity-0 group-hover:bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-500 ease-in-out pointer-events-none">
                                <p class="text-white text-lg md:text-xl lg:text-2xl font-bold pointer-events-none">{item.attributes.title}</p>
                            </div>
                        </div>
                ))}
            </div>
        </section>
        <Footer />
    </main>
</Layout>

<style>
    .hidden {
        display: none;
    }

    /* Enhanced hover effects */
    .gallery .design-item {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .gallery .design-item:hover {
        transform: scale(1.05);
    }

    /* Styling for image hover overlay */
    .gallery .design-item .absolute {
        border-radius: inherit; /* Match the parent's border-radius */
        z-index: -1; /* Ensure it's behind the clickable image */
        pointer-events: none; /* Make it ignore mouse events */
    }

    /* Title overlay styling */
    .gallery .design-item .absolute div {
        transition: background-color 0.3s ease, opacity 0.3s ease;
        pointer-events: auto; /* Enable pointer events for the title */
    }

    @media (max-width: 768px) {
        .gallery .design-item .absolute div {
            background-color: rgba(0, 0, 0, 0.5); /* Slightly darker overlay for small screens */
        }
    }
</style>

<script>
    import Macy from 'macy';

    document.addEventListener('DOMContentLoaded', function () {
        const macyInstance = Macy({
            container: '#macy-container',
            columns: 5,
            margin: {
                x: 12,
                y: 24,
            },
            breakAt: {
                1200: 4,
                940: 3,
                520: 2,
                400: 1
            },
            waitForImages: true,
        });

        // Show items after Macy's initial layout
        macyInstance.runOnImageLoad(function () {
            const items = document.querySelectorAll('.design-item');
            items.forEach(item => item.classList.remove('hidden'));
        }, true);

        // Fallback for cached images
        window.onload = function () {
            const items = document.querySelectorAll('.design-item');
            items.forEach(item => item.classList.remove('hidden'));
        };
    });
</script>


