---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="Atelier Rafael Monteiro">
	<main>
		<Nav />
		<section class="relative w-full h-screen overflow-hidden">
			<video
				class="absolute top-0 left-0 w-full h-full object-cover"
				src="/BackgroundHomeRafael.mp4"
				autoplay
				loop
				muted
				playsinline >
			</video>

			<div class="absolute bottom-8 left-8 md:left-32 w-full">
				<h1 class="text-8xl font-light text-custom-gray-3 mb-2 header-shadow">Atelier</h1>
				<h2 class="text-9xl font-light text-custom-gray-3 header-shadow">Rafael Monteiro</h2>
			</div>
		</section>
		<section>
		</section>
	</main>
</Layout>

<style>
	.header-shadow {
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}
</style>
