---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Card from '../components/Card.astro';
---

<Layout title="Atelier Rafael Monteiro">
	<main>
		<section class="relative w-full h-screen overflow-hidden">
			<Nav />
			<video
				class="absolute top-0 left-0 w-full h-full object-cover"
				src="/BackgroundHomeRafael.mp4"
				autoplay
				loop
				muted
				playsinline >
			</video>
		</section>
	</main>
</Layout>

<style>

</style>
