---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Header from '../components/Header.astro';
import Footer from "../components/Footer.astro";
import Contact from "../components/Contact.astro";
import FeatureSection from "../components/FeatureSection.astro";
import GallerySection from "../components/GallerySection.astro";
---

<Layout title="Atelier Rafael Monteiro">
	<main>
		<Nav />
		<Header />
		<FeatureSection />
		<GallerySection/>
		<Contact />
		<Footer />
	</main>
</Layout>
