---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Header from '../components/Header.astro';
---

<Layout title="Atelier Rafael Monteiro">
	<main>
		<Nav />
		<Header />
		<section>

		</section>
	</main>
</Layout>
