---
import Layout from '../layouts/PageLayout.astro';
import Nav from '../components/Nav.astro';
import Footer from "../components/Footer.astro";
---

<Layout title="Loja">
    <main>
        <Nav />
        <Footer />
    </main>
</Layout>
