---
const { item } = Astro.props;
---

<div class="design-item mx-auto h-auto w-auto">
    {item.attributes.coverImage?.data && (
            <img
                    class="object-contain mx-auto h-auto w-auto"
                    src={item.attributes.coverImage.data.attributes.url}
                    alt={item.attributes.title}
                    loading="lazy"
             />
    )}
</div>
