---
// Footer.astro
---

<footer class="flex flex-col items-center w-full gap-20 py-20 relative bg-white">


    <div class="w-full border-t border-black"></div>

    <div class="flex items-start gap-6">

        <p class="text-black font-light">© 2023 Atelier Rafael Monteiro. All rights reserved.</p>
        <img src="/Logo.svg" alt="Logo" class="h-6" />
        <div class="flex gap-6">
            <div class="underline text-black">Privacy Policy</div>
            <div class="underline text-black">Terms and Conditions</div>
            <div class="underline text-black">Cookie Policy</div>
        </div>
    </div>
</footer>
