---
import ResponsiveMenu from './ResponsiveMenu.jsx';
---

<nav class="flex items-center justify-between w-full px-8 py-4 absolute top-4 bg-transparent z-10 shadow-md">
    <div class="container mx-auto grid grid-cols-12 gap-4 items-center">
        <a href="/" class="col-span-3 flex items-center justify-start logo-hover">
            <img src="/Logo.svg" alt="Logo" class="h-12">
        </a>

        <ResponsiveMenu client:only="react" />
    </div>
</nav>

<style>
    .logo-hover:hover img {
        transform: scale(1.2); /* Slightly enlarges the logo */
        transition: transform 0.4s ease;
    }
</style>
