---
// Import statements if needed
---
<nav class="flex items-center justify-between w-full px-8 py-4 absolute top-5 bg-transparent z-10">
    <div class="container mx-auto grid grid-cols-12 gap-4">
      <a href="/" class="col-span-3 flex items-center justify-start">
        <img src="/Logo.svg" alt="Logo" class="h-12"> <!-- Adjust the height as needed -->
      </a>
      <div class="col-span-6 flex justify-start space-x-4">
        <a href="/about" class="menu-link">Sobre</a>
        <a href="/archi" class="menu-link">Arquitetura</a>
        <a href="/design" class="menu-link">Design</a>
      </div>
      <div class="col-span-3 flex justify-end space-x-4">
        <a href="/store" class="menu-link">Loja</a>
        <a href="/contact" class="menu-link">Contato</a>
      </div>
    </div>
</nav>
