---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Atelier Rafael Monteiro - Architecture & Design Portfolio" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicons.svg" />
		<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-custom-light font-sans">
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--color-light: #F8F9FA;
		--color-gray-1: #E9ECEF;
		--color-gray-2: #DEE2E6;
		--color-gray-3: #CED4DA;
		--color-gray-4: #ADB5BD;
		--color-dark-gray: #6C757D;
		--color-dark-1: #495057;
		--color-dark-2: #343A40;
		--color-dark: #212529;
	}
	html {
		font-family: 'Lato', sans-serif;
		background-color: var(--color-light);
	}
</style>
